* {
  font-size:9pt;
  font-family:"Calibri",sans-serif;
}

p.MsoFooter {
margin:0cm;
margin-bottom:.0001pt;
tab-stops:center 220.95pt right 441.9pt;
font-size:11.0pt;
font-family:"Calibri",sans-serif;
}
p.MsoFooter1 {margin:0cm;
margin-bottom:.0001pt;
tab-stops:center 220.95pt right 441.9pt;
font-size:11.0pt;
font-family:"Calibri",sans-serif;
}

table {
  font-size: 9 ppt;
  font-family:"Calibri",sans-serif;
  border-collapse: collapse;
}

p.MsoHeader {
margin:0cm;
margin-bottom:.0001pt;
tab-stops:center 220.95pt right 441.9pt;
font-size:11.0pt;
font-family:"Calibri",sans-serif;
}
p.MsoNoSpacing {
margin:0cm;
margin-bottom:.0001pt;
text-align:justify;
font-size:10.0pt;
font-family:"Arial",sans-serif;
}
p.MsoHeader1 {margin:0cm;
margin-bottom:.0001pt;
tab-stops:center 220.95pt right 441.9pt;
font-size:11.0pt;
font-family:"Calibri",sans-serif;
}


p.MsoNormal {
margin-top:0cm;
margin-right:0cm;
margin-bottom:8.0pt;
margin-left:0cm;
line-height:107%;
font-size:11.0pt;
font-family:"Calibri",sans-serif;
}
